@media only screen and (max-width: 767px) {
    .header_bg{
        background-image: url("../images/headerbgimgmobile.jpg");
    }
    *{
        flex-direction: column;
    }
    div.container__header__flex{
        flex-direction: row;
        margin: auto;
        background-color: #545a5b;
        opacity: 0.95;

    }
    div.container__logo{
        padding: 14px  18px 10px;
        margin: 0;
}
    div.container__burger{
        padding: 21px 24px 22px 28px ;
        margin: 0;
        background-color: #283338;
    }
    div.container__burger span{
        right:9px;
    }
    section.what_we_do img{
        width: 100%;
    }
    section.who_we_are div.ceo{
        margin: auto;
    }
    section.who_we_are div.developer{
        margin: auto;
    }
    section.who_we_are div.designer{
        margin: auto;
    }
    section.contact_us div.container{
        flex-direction: column;
        width: 100%;
    }
    section.blog_index{
        margin: 0 15px;
    }
    section.blog_index a.btn{
        margin-bottom: 20px;
    }
    section.contact_us div.container p.text_1{
        margin-bottom: 15px;
    }
    section.contact_us div.container h3{
        margin-bottom: 15px;
    }
  div.blog__container__flex{
      padding: 0;
      background-color: white;
  }
    div.about__flex__img{
        width: 100%;
    }
    div.about__flex__text {
        padding: 15px;
        width: 100%;
        margin-bottom: 15px;
    }
    div.about__text__container{
        padding: 0 15px 0 ;
        margin-bottom: 40px;
    }
    div.about__text1 :before{
        margin-bottom: 45px;
        margin-left: -5px;
    }
    div.about__text1{
        margin-bottom: 15px;
    }
footer{
    padding:  15px;

}
footer div.text p{
    font-size: 11px;
}
    div.about_header_bg{
        margin-bottom: 40px;
    }
div.about__circle__index{
    display: block;

}
header.index h1{
    font-size: 65px;

}
header.index span.text__italic{
    font-size: 65px;
}
section.about_us{
    margin-bottom: 40px;
    padding-top: 40px;
}

    section.about_us a{
        margin-bottom: 40px;
    }
    section.what_we_do h3{
        margin-bottom: 25px;
    }
    section.what_we_do div.container{
        margin-bottom: 40px;
    }
    div.blog__container__post{
        width: 100%;
        padding: 15px;
    }
    div.blog__container__btn{
        margin: auto;
    }
    div.blog_header_bg{
        background-image:none;
        height: 20px;
        margin-bottom: 40px;
    }
    div.blog__container__sidebar{
        width: 100%;
        padding: 0 15px;
    }
    div.blog__container__post__body1{
        margin-bottom: 25px;
    }
    header.blog{
        position: fixed;
        width: 100%;
        top: 0;
    }
    header.index{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 2;
    }
    div.contact_us_header_bg{
        background-image: none;
        height: 10px;
        margin-bottom: 70px;
    }
header.contact_us{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

    div.contact__us__container__block2{
        width: 290px;
        height: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    div.contact__us__container__block1{
        width: 290px;
        margin: auto;
    }
    div.contact__us__container__text{
        width: 290px;
        margin:0  auto;
    }
    div.contact__us__title {
        margin-bottom: 44px;
    }
    div.contact__us__container__img img {
        height: 300px;
        width: 290px;
        overflow: hidden;
    }
    div.contact__us__container__img{
        margin: auto;
    }
    div.project__btn{
       display: none;
    }
    div.project__container__text{
        margin: 0 auto;
    }
    div.project__container__text p{
        margin: 0 0 40px ;
    }
    div.project__container__text{
        width: 100%;
    }
    div.project__container{
        padding: 0 15px;
        margin: 0 15px;
    }
    div.project__container__sidebar img:first-of-type {
        margin-top: 0;
    }
    div.work_header_bg{
margin-bottom: 40px;
    }
    div.work__title h2{
        font-size: 34px;
        line-height: 34px;
        margin-bottom: 25px;
    }
    div.work__text{
        margin-bottom: 40px;
    }
    div.flex__container__img img{
        width: 100%;
    }
    div.container__header__text {
        display: none;
    }
    section.contact_us div.text {
        padding: 15px;
        background-color: #f9f9f9;
        width: 100%;
    }
    section.blog_index div.container {
        margin-bottom: 20px;
    }
    .header_bg {
        margin-bottom: 20px;
    }
    section.who_we_are div.container_text {
        margin-bottom: 20px;
    }
    section.contact_us div.container {
        margin: 0;
    }
    section.about_us h3 {
        margin-bottom: 25px;
    }
    section.who_we_are div.container h3 {
        margin-bottom: 25px;
    }
    section.who_we_are div.container p{
        margin-bottom: 20px;
    }
    section.blog_index h3{
        margin-bottom: 25px;
    }
    section.contact_us h3{
        margin-bottom: 25px;
    }
    div.blog__container__post{
        margin-bottom: 20px;
    }
    div.blog__container__text{
        margin-bottom: 25px;
    }
    header.about{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 2;
    }
    div.contact__us__title{
        margin-bottom: 20px;
    }
    div.contact__us__btn{
        margin-bottom: 20px;
    }
    header.project{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 2;
    }
    div.project_header_bg {
        margin-bottom: 20px;
}
    div.project__container__text h1{
        margin: 20px 0;
    }
    header.work{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 2;
    }
    div.work_header_bg{
        margin-bottom: 20px;
    }
    div.work__text{
        margin-bottom: 20px;
    }
    div.work__title h2{
        margin-bottom: 18px;
    }
    div.work__subtitle{
        margin-bottom: 18px;
    }
    div.about_header_bg{
        margin-bottom: 20px;
    }
    div.about__text__container{
        margin-bottom: 20px;
    }
    div.about__text1 :before{
        margin-bottom: 20px;
    }
    div.owl-item{

    }
    .owl-carousel .owl-stage-outer {
        width: 100%;
        height: 162px!important;
        overflow: hidden!important;
    }
    .owl-dots{
        left: 0;
         bottom :40px;
    }
    .dialog__container-white a:before{
        margin: 0 15px 0 15px;
    }
    .dialog__container-white a{
        padding: 15px;
        margin-bottom: 100px;
        text-align: center;
    }
    .ui-dialog .ui-dialog-titlebar{
       padding: 15px;
    }
    .ui-dialog .ui-dialog-content{
        padding: 15px;
    }
    label{
        margin-left: 15px;
        text-align: center;
    }
    label br{
        display: none;
    }
    button{
        padding: 15px 32px;
        margin-bottom: 15px;

    }
    .dialog__container-white p{
        margin-bottom: 15px;
    }

}
