* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: 400;
    border: 0;
    list-style: none;

}
@font-face {
    font-family: 'Now Bold';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts//Now Bold'), url('../fonts/Now-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Now Medium';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts//Now Medium'), url('../fonts/Now-Medium.woff') format('woff');
}
a{
    color:inherit;
}
img{
    width: 100%;
}

.header-bg {
    background-image: url("../images/bgheader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 163px;
    width: 100%;
    object-fit: contain;
    background-position: center;
    position: relative;
    overflow: hidden;
}
div.about__circle-index{
    display: none;
}

div .container-header-flex{
    display: flex;
    justify-content: space-between;
    position: relative;
}
div.container__burger {
    max-width: 18px;
    margin: 30px 48px 0 0;
}
div.container__logo{
    max-width: 193px;
    margin: 16px 0 0 48px;
    height: 40px;
}


div.header-bg h1{
    font:80px "Open Sans";
    font-weight: 300;
    text-align: center;
    color: white;
    line-height: 80px;
    margin-top: 19%;
}
div.header-bg span.text__italic{
    line-height: 80px;
    color: white;
    font:80px "Open Sans";
    font-weight: 300;
    font-style: italic;
}
p.menu{
    font:24px "Open Sans";
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    line-height: 44px;
}
.about-us{
    margin-bottom: 160px;
    padding-top: 78px;
}
section.about-us div.container{
    max-width: 769px;
    margin: auto;
}
section.about-us h4{
    font:13px "Open Sans";
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #d4af37;
    margin-bottom: 22px;
}
section.about-us h3{
    font:44px "Open Sans";
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #4d5c66;
    margin-bottom: 57px;
}

section.about-us p{
    font:18px "Open Sans";
    font-weight: 300;
    text-align: center;
    color: #021725;
    margin-bottom: 43px;
    line-height: 35px;
}
section.about-us a{
    color: #021725;
    font:14px "Open Sans";
    font-weight: 300;
    text-align: center;
    line-height: 55px;
    border: solid 1px black;
    display: block;
    margin: auto;
    text-decoration: none;
    text-transform: capitalize;
    width: 237px;
    margin-bottom: 163px;
}
section.what_we_do h4{
    font:13px "Open Sans";
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #d4af37;
    margin-bottom: 24px;
}
section.what_we_do h3{
    font:44px "Open Sans";
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #4d5c66;
    margin-bottom: 92px;
}
section.what_we_do div.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 162px;
}
section.what_we_do img{
    display: block;
    width: 25%;
    border: solid 1px white;
}
section.who_we_are img{
    height: 192px;
    width: 244px;
    overflow: hidden;
}

section.who_we_are div.container{
    max-width: 756px;
    margin: auto;
}
section.who_we_are div.container h4{
    font:13px "Open Sans";
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #d4af37;
    margin-bottom: 22px;
}
section.who_we_are div.container h3{
    font:44px "Open Sans";
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #4d5c66;
    margin-bottom: 57px;
}
section.who_we_are div.container p{
    font:18px "Open Sans";
    font-weight: 300;
    text-align: center;
    color: #021725;
    margin-bottom: 43px;
    line-height: 35px;
}

section.who_we_are div.ceo{
    background-color: #f9f9f9;
    width: 246px;
    margin-right: 5px;
}
section.who_we_are div.ceo h4{
    font:13px "Open Sans";
    font-weight: 600;
    text-transform: uppercase;
    color: #d4af37;
    margin-bottom: 20px;
}
section.who_we_are div.ceo span{
    font:21px "Open Sans";
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #71777c;
}
section.who_we_are div.ceo p{
    font:13px "Open Sans";
    font-weight: 400;
    color: #021725;
    line-height: 20px;
    margin-top: 35px;
}
section.who_we_are div.container_text{
    display: flex;
    justify-content: space-between;
    max-width: 746px;
    margin: auto;
    margin-bottom: 163px;
}
section.who_we_are div.designer{
    background-color: #f9f9f9;
    width: 246px;
    margin-right: 5px;
}
section.who_we_are div.designer h4{
    font:13px "Open Sans";
    font-weight: 600;
    text-transform: uppercase;
    color: #d4af37;
    margin-bottom: 20px;
}
section.who_we_are div.designer span{
    font:21px "Open Sans";
    font-weight: 600;
    text-transform: capitalize;
    color: #71777c;
}
section.who_we_are div.designer p{
    font:13px "Open Sans";
    font-weight: 400;
    color: #021725;
    line-height: 20px;
    margin-top: 35px;
}
section.who_we_are div.developer{
    background-color: #f9f9f9;
    max-width: 246px;
    margin-right: 5px;
}
section.who_we_are div.text{
    padding: 20px 20px 47px 14px;
}
section.who_we_are div.developer h4{
    font:13px "Open Sans";
    font-weight: 600;
    text-transform: uppercase;
    color: #d4af37;
    margin-bottom: 20px;
}
section.who_we_are div.developer span{
    font:21px "Open Sans";
    font-weight: 600;
    text-transform: capitalize;
    color: #71777c;
}
section.who_we_are div.developer p{
    margin-top: 35px;
    font:13px "Open Sans";
    font-weight: 400;
    color: #021725;
    line-height: 20px;
}
section.who_we_are.div.text{
    margin: 20px 20px;
}
section.blog_index{
    max-width: 769px;
    margin: auto;
}
section.blog_index h4{
    font:13px "Open Sans";
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #d4af37;
    margin-bottom: 17px;
}
section.blog_index h3{
    font:44px "Open Sans";
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #4d5c66;
    margin-bottom: 52px;
}
section.blog_index div.container{
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    max-width: 769px;
    margin-bottom: 84px;
}
div.container_img img{
    width: 100%;
}
div.contact__us__map{
    height: 297px;
    max-width: 769px;
}
section.blog_index div.container_text{
    padding: 43px 38px 61px 39px;

}
section.blog_index p{
    font:13px "Open Sans";
    font-weight: 400;
    color: #505d68;
    text-transform: uppercase;
    margin-bottom: 21px;
}
section.blog_index div.container_text h3{
    font:30px "Open Sans";
    font-weight: 400;
    color: #505d68;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 29px;
}
section.blog_index span{
    font:16px "Open Sans";
    font-weight: 300;
    color: #505d68;
    line-height: 23px;
}
section.blog_index div.container_text a.btn{
    margin-top: 59px;
    display: block;
    border: solid 1px black;
    width: 128px;
    height: 46px;
    font:14px "Open Sans";
    font-weight: 300;
    color: #021725;
    line-height: 45px;
    text-align: center;
}
section.blog_index a.btn{
    display: block;
    border: solid 1px black;
    width: 237px;
    height: 55px;
    font:14px "Open Sans";
    font-weight: 300;
    color: #021725;
    line-height: 55px;
    text-align: center;
    margin: auto;
    margin-bottom: 160px;
}
section.contact_us{
    max-width: 768px;
    margin: auto;
}
section.contact_us h4{
    font:13px "Open Sans";
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #d4af37;
    margin-bottom: 22px;
}
section.contact_us h3{
    font:44px "Open Sans";
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #4d5c66;
    margin-bottom: 57px;
}
section.contact_us div.container{
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
    margin-bottom: 80px;
}
section.contact_us div.text{
    padding: 50px 15px 42px;
    background-color:#f9f9f9;
    width: 100%;
}

section.contact_us div.container h3{
    font:19px "Open Sans";
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #4d5c66;
    margin-bottom: 50px;
    line-height: 19px;
}
section.contact_us div.container p.text_1{
    font:17px "Open Sans";
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #4d5c66;
    margin-bottom: 95px;
    line-height: 30px;
}
section.contact_us div.container p.text_2{
    font:17px "Open Sans";
    font-weight: 300;
    text-transform: uppercase;
    color: #4d5c66;
    line-height: 30px;
    text-align: center;
}
footer{
    width: 100%;
    background-color: #eeeeee;
    padding: 41px 15px 37px;
    margin-bottom: -20px;
}
footer div.container{
    display: flex;
    justify-content: space-between;
}
footer div.text{
    margin: auto;
}
footer div.container p{
    font:16px "Open Sans";
    font-weight: 300;
    text-transform: uppercase;
    color: #4d5c66;
    line-height: 16px;
}
div.blog_header-bg{
    background-image: url("../images/blogbg.jpg");
    margin-bottom: 78px;
    height: 399px;
    background-size: cover;
    background-position: center;
}

div.blog__container__post{
    max-width: 700px;
    padding: 32px 35px 32px;
    width: 70%;
    margin-bottom: 66px;
    background-color: white;
}
div.blog__container__image{
    width: 100%;
    margin-bottom: 34px;
}

div.blog__container__title h3{
    font:30px "Open Sans";
    font-weight: 300;
    text-transform: capitalize;
    color: black;
    line-height: 30px;
    letter-spacing: 3px;
    margin-bottom: 29px;
}

div.blog__container__subtitle{
    font:15px "Open Sans";
    font-weight: 300;
    text-transform: capitalize;
    color: #d3b000;
    line-height: 15px;
    letter-spacing: 1px;
    margin-bottom: 37px;
}
div.blog__container__text{
    font:16px "Open Sans";
    font-weight: 300;
    text-transform: capitalize;
    color: #021725;
    line-height: 20px;
    margin-bottom: 67px;
}
div.blog__container__btn{
    font:16px "Open Sans";
    font-weight: 600;
    text-transform: capitalize;
    color: #021725;
    line-height: 16px;
    margin-bottom: 31px;
    border: solid 1px #021725;
    padding:20px 52px 17px ;
    max-width: 189px;
}
div.blog__container__flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1140px;
    background-color: #f9f9f9;
    margin: auto;
    padding: 65px 68px 66px;
}
div.blog__container__sidebar{
    width: 30%;
}
div.blog__container__post__body1{
    margin-bottom: 56px;
}
div.sidebar__text h4{
    font:23px "Open Sans";
    font-weight: 300;
    text-transform: capitalize;
    color: #021725;
    line-height: 23px;
    letter-spacing: 1px;
    padding-bottom: 18px;
    margin-bottom: 38px;
    border-bottom: solid 3px #d3b000;
}

div.sidebar__text{
    margin-bottom: 50px;
}
div.sidebar__text li{
    font:16px "Open Sans";
    font-weight: 300;
    text-transform: capitalize;
    color: #021725;
    line-height: 16px;
    letter-spacing: 1px;
    font-style: italic;
    margin-bottom: 8px;
}
div.blog__btn{
    font:16px "Open Sans";
    font-weight: 600;
    text-transform: capitalize;
    color: #021725;
    line-height: 16px;
    border: solid 1px #021725;
    padding:22px 53px ;
    max-width: 236px;
    margin: auto;
}
div.contact_us_header-bg{
    background-image: url("../images/contactusheaderbg.jpg");
    background-size: cover;
    height: 400px;
    margin-bottom: 127px;
    width: 100%;
}
div.contact__us__subtitle{
    font:13px "Open Sans";
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #d4af37;
    margin-bottom: 24px;
    line-height: 13px;
}
div.contact__us__title {
    font: 44px "Open Sans";
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #4d5c66;
    margin-bottom: 88px;
    line-height: 44px;
}

div.contact__us__container__block1{
    background-color: #d3b000;
    padding: 35px 85px 163px 32px;
    width:  300px;
    margin-right: 6px;
    color: white;
    font: 25px "Open Sans";
    font-weight: 400;
    line-height: 25px;
}
div.contact__us__container__img {
    max-width: 456px;
    margin-bottom: -5px;
    overflow: hidden;
    height: 300px;
}
div.contact__us__container{
    width: 100%;
    display: flex;
}
div.contact__us__container__block1 p:before{
    content: "";
    width: 32px;
    height: 3px;
    display: block;
    background-color: white;
    margin-bottom: 46px;
}
div.contact__us__container__text{
    padding: 44px 63px 40px 46px;
    background-color: #f9f9f9;
    max-width: 463px;
    color: #323d43;
    font: 20px "Open Sans";
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 76px;
}
div.contact__us__container__block2{
    background-color: #212121;
    padding: 32px 30px 163px 32px;
    width:  300px;
    margin-right: 6px;
    color: white;
    font: 25px "Open Sans";
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 76px;
}
div.contact__us__container__block2 p:before{
    content: "";
    width: 32px;
    height: 3px;
    display: block;
    background-color: white;
    margin-bottom: 46px;
}
div.contact__us__btn{
    font:14px "Open Sans";
    font-weight: 300;
    text-transform: capitalize;
    color: #021725;
    line-height: 14px;
    border: solid 1px #021725;
    padding:22px 57px 21px ;
    max-width: 236px;
    margin: auto;
    margin-bottom: 87px;
}
div.project_header-bg{
    background-image: url("../images/norabg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 86px;
    width: 100%;
    object-fit: contain;
    background-position: center;
    position: relative;
}
section.project{

    margin: auto;
}
div.project__container{
    background-color: #f9f9f9;
    padding:0 68px 63px 65px ;
    max-width: 1300px;
    margin: auto;
    margin-bottom: 102px;
}
div.project__container__flex{
    display: flex;
    width: 100%;
}
div.project__container__text{
    width:100%;
    max-width: 666px!important;
    margin-right: 52px;
}
div.owl-item{
    height: 417px!important;
}
div.project__container__text h1{
    font:44px "Open Sans";
    font-weight: 600;
    text-transform: capitalize;
    color: black;
    line-height: 44px;
    margin-bottom: 126px;
    margin-top:85px;
    text-align: left;
}
div.project__container__sidebar{
    max-width: 300px;
}
div.project__container__text p {
    font: 20px "Open Sans";
    font-weight: 400;
    color: black;
    line-height: 20px;
    margin-right: 50px;
    margin-bottom: 100px;
}
.owl-container{
    max-width: 666px;
    position: relative;
    height: 100%;
}
.owl-carousel{
    width: 100%;
    display: block;
}
.project__container__img{
    width: 100%;
    height: 415px;
}

button.owl-dot span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: black !important;
    border-radius: 50%;
    margin: auto;
    margin-right: 5px;
}
button .owl-dot{
    display: inline-block;
}
.owl-dots {
    height: 30px;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom:100px;
    left: 0;
}
button.owl-dot.active span{
    width: 25px;
    height: 25px;

}
.owl-dot.active:focus{
    outline: none;
}
div.project__container__sidebar img:first-of-type{
    margin-top: 62px;
}
div.project__btn__flex{
    display: flex;
    justify-content: space-between;
}
div.project__btn {
    font: 15px "Open Sans";
    font-weight: 300;
    text-transform: capitalize;
    color: #c0c0c0;
    line-height: 14px;
    border: solid 1px #c0c0c0;
    padding: 22px 87px 23px 81px;
    max-width: 248px;
    margin: auto;
    margin-bottom:72px;
}
div.work-header-bg{
    background-image: url("../images/workbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    margin-bottom: 130px;
    width: 100%;
    object-fit: contain;
    background-position: center;
    position: relative;
}
div.work__subtitle{
    font: 13px "Open Sans";
    font-weight: 600;
    text-transform: uppercase;
    color: #d4af37;
    line-height: 13px;
    text-align: center;
    margin-bottom: 23px;

}
div.work__title h2{
    font: 44px "Open Sans";
    font-weight: 600;
    text-transform: uppercase;
    color: #021725;
    line-height: 44px;
    margin-bottom: 55px;
    text-align: center;
}

div.work__container{
    max-width: 769px;
    margin:auto;
}
div.work__text{
    max-width: 769px;
    margin:auto;
    font: 18px "Open Sans";
    font-weight: 300;
    text-transform: uppercase;
    color: #021725;
    line-height: 18px;
    margin-bottom: 131px;
    text-align: center;
}
div.container-img-flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5px;
}
div.container-img-flex img{
    width: 25%;
    border: solid 1px white;
}
div.about-header-bg {
    background-image: url("../images/aboutbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 163px;
    width: 100%;
    object-fit: contain;
    background-position: center;
    position: relative;
}

div.about__container-text{
    max-width: 769px;
    margin: auto;
    font: 18px "Open Sans";
    font-weight: 300;
    color: #021725;
    line-height: 18px;
    margin-bottom: 153px;

}
div.about__flex__container{
    display: flex;
    width: 100%;
    background-color: #f9f9f9;
}
div.about__flex__text{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    width: 50%;
    padding: 48px 74px 46px 44px;
}

div.about__text2{
    font: 18px "Open Sans";
    font-weight: 400;
    color: #505d68;
    line-height: 22px;
    width: 250px;
}
div.about__text1 :before{
    content: 'Services';
    display: block;
    font: 44px "Open Sans";
    font-weight: 600;
    color: #505d68;
    line-height: 44px;
    margin-bottom: 90px;
}
div.about__text1 {
    font: 18px "Open Sans";
    font-weight: 300;
    color: #505d68;
    line-height: 25px;
    width: 238px;
}
div.about__text2 li:before{
    content: '-';
    display: inline-block;
    margin-right: 10px;
}
div.about__flex__img{
    width: 50% ;
    margin-bottom: -4px;

}
div.about__arrow{
    width: 12px;
    height: 12px;
    border-top: solid 2px white;
    border-right: solid 2px white;
    transform: rotate(135deg);
    margin: auto;
}
div.about__circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px white;
    position: absolute;
    padding: 5px;
    bottom: 4%;
    right: 50%;
    z-index: 1;
}
div.about__circle-index{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px white;
    position: absolute;
    padding: 5px;
    bottom: 30%;
    right: 50%;
    z-index: 1;
}
div.project__arrow{
    width: 12px;
    height: 12px;
    border-top: solid 2px white;
    border-right: solid 2px white;
    transform: rotate(135deg);
    margin: auto;
}
div.project__circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px white;
    position: absolute;
    padding: 5px;
    bottom: 4%;
    right: 50%;
}
div.container__header-text p{
    font: 19px "Open Sans";
    font-weight: 600;
    color: white;
    line-height: 19px;
    text-transform: uppercase;
    right: 72px;
    position: absolute;
    top:32px;
}
div.container__header-text p.work__menu{
    font: 19px "Open Sans";
    font-weight: 600;
    color: white;
    line-height: 19px;
    text-transform: uppercase;
    position: absolute;
    top:32px;
    right: 72px;
}
.ui-dialog{
    width: 100%!important;
    max-width: 750px;
    padding: 0;
    position: fixed;
}
.ui-dialog .ui-dialog-titlebar{
    padding: 40px 15px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}
.ui-corner-all{
    border-radius: 0;
}
.ui-widget-header{
    background: #fbfbfb;
    border: 0;
}
.form__input{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.ui-dialog .ui-dialog-content{
    padding: 42px 15px 84px 10px;
}
#first_name{
    max-width: 383px;
    width: 100%;
    height: 65px;
    border: solid 1px #b7b7b7;
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 22px;
    color: #363636;
    text-transform: uppercase;
    padding: 15px;

}
.ui-widget{
    font-family: 'Now Bold', sans-serif;
}
.ui-widget button{
    font-family: 'Now Bold', sans-serif;
}
label{
    margin-left: 84px;
    color: #363636;
    font-size: 22px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Now Medium',sans-serif;

}
form button{
    display: block;
    max-width: 526px;
    width: 100%;
    margin: auto;
    margin-bottom: 29px;
    background-color: #b8b8b8;
    padding: 22px 15px;
    color: black;
    line-height: 24px;
    text-transform: uppercase;

}
.ui-widget button{
    font-size: 24px;
    text-align: center!important;
}
.dialog__container-white p{
color: #363636;
    font-size: 22px;
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
    font-family: 'Now Medium',sans-serif;
}
.dialog__container-white a{
    display: block;
    max-width: 526px;
    width: 100%;
    margin: auto;
    margin-bottom: 164px;
    background-color: #4967a6;
    padding: 22px 15px;
    color: white;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}

.dialog__container-white a:before{
    content: "\f39e";
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    font-size: 24px;
    margin-right: 15px;
    margin-left: 89px;
}


nav {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    transform: translateX(100px);
    height: 100vh;
    max-width: 600px;
    width: 100%;
    right: 100px;
    top: 0;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    border-radius: 0% 0% 100% 50%;
}

nav.nav-open {
    transform: translateX(0);
    border-radius: 0% 0% 0% 0%;
    background: rgba(255, 255, 255, 0.9);
}

nav .menu-btn {
    position: absolute;
    top: 30px;
    right: 40px;
    padding: 0;
    width: 30px;
    cursor: pointer;
    z-index: 2;
}

nav .menu-btn .line {
    padding: 0;
    width: 30px;
    background: #fff;
    height: 2px;
    margin: 5px 0;
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

nav .menu-btn .line.line--1 {
    width: 18px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--1.line-cross {
    width: 30px;
    transform: rotate(45deg) translateY(10px);
    background: rgba(0,0,0,0.6);
}

nav .menu-btn .line.line--2 {
    width: 18px;
    transform: translateX(0);
}

nav .menu-btn .line.line--2.line-fade-out {
    width: 28px;
    transform: translate(-30px);
    opacity: 0;
}

nav .menu-btn .line.line--3 {
    width: 18px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--3.line-cross {
    width: 30px;
    transform: rotate(-45deg) translateY(-10px);
    background: rgba(0,0,0,0.6);
}

nav .nav-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100px);
    opacity: 0;
    transition: all 900ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links.fade-in {
    opacity: 1;
    transform: translateX(0px);
}

nav .nav-links .link {
    margin: 20px 0;
    text-decoration: none;
    font-family: sans-serif;
    color: rgba(0,0,0,0.9);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all 300ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links .link:hover {
    color: rgba(0, 0, 0, .5);
}
.inform{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.support{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
}
a{
    transition: all 400ms ease;
}

a:hover{
    color: #222;
}
.owl-container{
    z-index: 15;
}